<!-- tooltips.component.html -->

<div class="cour-details" *ngIf="cour">
  <h2>{{ cour.courName }}</h2>
  <p>{{ cour.description }}</p>

  <div class="chapitres-container">
    <div *ngFor="let chapitre of chapitres" class="chapitre-item">
      <div class="chapitre-info">
        <h3>{{ chapitre.titre }}</h3>
        <p>{{ chapitre.description }}</p>
        <p>Duration: {{ chapitre.dureeEstimee }} minutes</p>
        <p>Order: {{ chapitre.ordreDansLeCours }}</p>
        <a *ngIf="chapitre.youtubeVideoLink" [href]="chapitre.youtubeVideoLink">Watch Video</a>
        <a *ngIf="chapitre.pdfAttachment" [href]="sanitizePdf(chapitre.pdfAttachment)" target="_blank">Download PDF</a>
      </div>
      <div class="chapitre-image">
        <img *ngIf="chapitre.imageData" [src]="'data:image/png;base64,' + chapitre.imageData" alt="Chapitre Image" />
      </div>
    </div>
  </div>

  <div class="message-input">
    <input type="text" placeholder="Type your message..." [(ngModel)]="messageToSend">
    <button (click)="sendMessage()" class="send-button">Send</button>
  </div>
</div>
