

.container-fluid {
  padding-top: 20px;

  .top-right-icons {
    position: absolute;
    top: 10px;
    right: 10px;

    button {
      margin-left: 5px;
    }
  }

  .cour-details {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .chapitre-item {
      display: flex;
      gap: 20px;
      border-bottom: 1px solid #ccc;
      padding-bottom: 20px;
    }

    .chapitre-info {
      flex-grow: 1;
      .space {
        margin-bottom: 20px;
      }
    }

    .chapitre-image img {
      max-width: 100px;
      height: auto;
      border-radius: 50%;
    }

    .message-input {
      margin-top: 20px;
      display: flex;
      align-items: center;

      input {
        flex-grow: 1;
        margin-right: 10px;
      }

      button {
        min-width: 100px;
      }
    }
  }
}
