.cour-details {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chapitre-item {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.chapitre-info {
  flex-grow: 1;
}

.chapitre-image img {
  max-width: 100px;
  height: auto;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.message-input {
  margin-top: 20px;
}

.message-input input {
  width: 70%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.message-input button {
  padding: 8px 16px;
  margin-left: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.message-input button:hover {
  background-color: #0056b3;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Define the space between PDF and Video
.space {
  margin-bottom: 20px;
}
.page-container {
  position: relative;
  /* Other styles for your page container */
}

.top-right-icons {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  /* Additional styling for the icons container */
}
