<div class="search-container">
  <input type="text" placeholder="Search" #searchInput />
  <button (click)="searchCoursByCourName(searchInput.value)">Search</button>
</div>

<div class="categories-container">
  <div class="category" *ngFor="let category of categories" (click)="filterCoursByCategory(category.categoryName)">
    {{ category.categoryName }}
  </div>
</div>
<div class="haj-details" *ngIf="payments$ | async as payments; else noPayments">
  <div class="haj-card" *ngFor="let payment of payments" class="cour-item" (click)="viewCourDetails(payment.cour?.courId!)">
    <div class="haj-image-container">
      <img *ngIf="payment.cour?.imageData" [src]="'data:image/png;base64,' + payment.cour?.imageData" alt="Course Image" class="haj-image" />
    </div>
    <div class="haj-text">
      <div class="haj-name">{{ payment.cour?.courName }}</div>
      <div class="haj-description">
        {{ payment.cour?.description!.length > 50 ? payment.cour?.description!.substring(0, 50) + '...' : payment.cour?.description }}
      </div>
    </div>
    <div *ngIf="payment.cour?.discountedPrice !== 0" class="haj-price-promotion-container">
      <div class="haj-price">{{ payment.cour?.price }}dt</div>
      <div class="haj-promotion">
        <div *ngIf="payment.cour?.totalPrice">{{ payment.cour?.totalPrice }}</div>
      </div>
    </div>
  </div>
</div>

<ng-template #noPayments>
  <div class="no-tools-found">No Courses Found!</div>
</ng-template>

