.page-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .cour-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  
    th, td {
      padding: 10px;
      border: 1px solid #ccc;
      text-align: left;
    }
  
    th {
      background-color: #f2f2f2;
    }
  
    tbody tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }
  
    li {
      margin-bottom: 5px;
    }
  }
  