<div *ngIf="questionResponses$ | async as questionResponses; else loadingTemplate">
    <h2>Reponses</h2>
    <ng-container *ngFor="let response of questionResponses">
        <div class="question-container">
            <p class="question">{{ response.question }}</p>
            <p class="date">{{ response.addedDate | date }}</p>
            <p class="message">{{ response.reponse }}</p>
        </div>
    </ng-container>

</div>

<ng-template #loadingTemplate>
    <p>Loading...</p>
</ng-template>
