<div *ngIf="questionResponses$ | async as questionResponses; else loadingTemplate">
    <h2>Questions</h2>
    <table class="question-table">
        <thead>
            <tr>
                <th>Message</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let response of questionResponses">
                <tr>
                    <td>{{ response.question }}</td>
                    <td>{{ response.addedDate | date }}</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="input-container">
                            <input type="text" placeholder="Enter your new response" class="large-input" [(ngModel)]="newResponse">
                            <button (click)="updateResponse(response, newResponse)">Send</button>

                          </div>
                          
                    </td>
                    
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>

<ng-template #loadingTemplate>
    <p>Loading...</p>
</ng-template>
