<div class="profile-card" *ngIf="apprenant">
    <div class="profile-header">
      <h2>{{ apprenant.userDTO.email }}</h2>
    </div>
    <div class="profile-content">
      <div class="profile-info" *ngIf="!showEditForm">
        <p><strong>Full Name:</strong> {{ apprenant.fullName }}</p>
        <p><strong>interest:</strong> {{ apprenant.interests }}</p>
        <p><strong>classe:</strong> {{ apprenant.classe }}</p>
        
        <p><strong>educationLevel:</strong> {{ apprenant.educationLevel }}</p>
        <p><strong>Email:</strong> {{ apprenant.userDTO.email }}</p>
      </div>
      <div class="modify-profile-button-container">
        <button class="modify-profile-button" (click)="toggleEditForm()">Modify Profile</button>
      </div>
      <div class="edit-profile-form" *ngIf="showEditForm">
        <!-- Form for editing admin details -->
        <form (submit)="updateApprenantDetails()">
          <div class="form-group">
            <label for="fullName">Full Name:</label>
            <input type="text" id="fullName" name="fullName" [(ngModel)]="apprenant.fullName" required>
          </div>
          <div class="form-group">
            <label for="interest">interest:</label>
            <input type="text" id="interest" name="interest" [(ngModel)]="apprenant.interests" required>
          </div>

          <div class="form-group">
            <label for="educationLevel">educationLevel:</label>
            <input type="educationLevel" id="educationLevel" name="educationLevel" [(ngModel)]="apprenant.educationLevel" required>
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" [(ngModel)]="apprenant.userDTO.email" required>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" [(ngModel)]="apprenant.userDTO.password" required>
          </div>
          <div class="form-buttons">
            <button type="submit" class="save-button">Save Changes</button>
            <button type="button" class="cancel-button" (click)="toggleEditForm()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  