<div class="profile-card" *ngIf="apprenant">
  <div class="profile-header">
    <h2>{{ apprenant.userDTO.email }}</h2>
  </div>
  <div class="profile-content">
    <div class="edit-profile-form" *ngIf="showEditForm">
      <!-- Form for editing admin details -->
      <form (submit)="updateApprenantDetails()">
        <div class="form-group">
          <label for="fullName">Full Name:</label>
          <input type="text" id="fullName" name="fullName" [(ngModel)]="updatedApprenant.fullName" required>
        </div>
        <div class="form-group">
          <label for="interest">Interest:</label>
          <input type="text" id="interest" name="interest" [(ngModel)]="updatedApprenant.interests" required>
        </div>
        <div class="form-group">
          <label for="educationLevel">Education Level:</label>
          <input type="text" id="educationLevel" name="educationLevel" [(ngModel)]="updatedApprenant.educationLevel" required>
        </div>
        <div class="form-group">
          <label for="classe">Classe:</label>
          <input type="text" id="classe" name="classe" [(ngModel)]="updatedApprenant.classe" required>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" [(ngModel)]="updatedApprenant.email" required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" [(ngModel)]="updatedApprenant.password" required>
        </div>
        <div class="form-buttons">
          <button type="submit" class="save-button">Save Changes</button>
          <button type="button" class="cancel-button" (click)="toggleEditForm()">Cancel</button>
        </div>
      </form>
    </div>
    
    <div class="modify-profile-button-container" *ngIf="!showEditForm">
      <button class="modify-profile-button" (click)="toggleEditForm()">Modify Profile</button>
    </div>
  </div>
</div>
